<div class="row">
  <% if signed_in? %>
    <% provide(:title, 'Home') %>

    <div class="aside col-md-4">
      <div class="section">
        <%= render 'shared/user_info' %>
      </div>
    </div>

    <div class="col-md-8">
      <div class="timeline">
        <h2> Ztwits </h2>
        <%= render 'shared/feed' %>
      </div>
    </div>

  <% else %>
    <% provide(:title, 'Hello from Zwittur') %>

    <div class="welcome">
      <center>
        <h1> Welcome to Zwittur </h1>
        <p> Tweet zwits. Twit zwuts. Anytime. Anywhere</p>
        <%= link_to "Sign up", signup_path, class: "btn btn-primary" %>
        <%= link_to "Log in", signin_path, class: "btn btn-default" %>
      </center>
    </div>
  <% end %>
</div>
