<% provide(:title, 'Users') %>

<div class="row col-md-12">
  <div class="timeline">
    <h2> All Users </h2>
    <% @users.each do |user| %>
      <ul class="tweets">

        <li class="tweet clearfix">
          <%= gravatar_for user, size: 52 %>
          <%= link_to user.name, user %>
        </li>
      </ul>
      <% end %>

  </div>
</div>
