<% provide(:title, @title) %>

<div class="aside">
    <div class="section col-md-4">
      <%= render 'shared/profile' %>
      <%= render 'shared/stats' %>
    </div>

    <div class="col-md-8">
      <div class="timeline">
        <h2><% @title %></h2>
        <% if @users.any? %>
          <ul class="tweets">
            <%= render @users %>
          </ul>
          <div class="paginate">
            <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
          </div>
        <% end %>
      </div>
    </div>
</div>
