<% provide(:title, @user.name) %>

<div class="row">
  <div class="aside col-md-4">
    <section>
      <%= render 'shared/profile'%>
      <%= render 'shared/stats'%>
      <%= render 'shared/tweet_form' if @user == current_user%>
    </section>
  </div>

  <div class="col-md-8">

      <div class="timeline">
        <h2> Tweets </h2>
        <% if @user.tweets.any? %>
          <%= render partial: 'shared/feed' %>
        <% else %>
          <p>No post yet</p>
        <% end %>
      </div>

  </div>
</div>
