<% if object.errors.any? %>
  <div class=".alert.alert-danger">
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li>
          <% msg %>
        </li>
        <% end %>
      </ul>
  </div>
<% end %>
