<div class ="tweets clearfix" id="#{feed_item.id}">


  <div class="padded">
    <% if (current_user?(feed_item.user)) %>
    <%= link_to "x", feed_item, class: "tweet-actions", method: :delete,
                                                  data: { confirm: "You sure?" },
                                                  title: feed_item.content%>
    <% end %>
    <%= link_to gravatar_for(feed_item.user), feed_item.user %>
    <div class="user"><b><%= link_to feed_item.user.name, feed_item.user %></b></div>
    <p class="username"> @<%= feed_item.user.username %> </p>
    <div class="tweet-content"> <%= wrap(feed_item.content) %> </div>
    <p class="tweet-footer">
      <%= "Posted #{time_ago_in_words(feed_item.created_at)} ago." %> </p>

      </p>
  </div>

</div>
