<% if @feed_items.any? %>
  <ol class="tweet">
      <%= render partial: 'shared/feed_item', collection: @feed_items %>
  <%= paginate = will_paginate @feed_items, renderer: BootstrapPagination::Rails %>
<% end %>
