<%= form_for(current_user.relationships.build(following_id: @user.id)) do |f| %>

  <%= f.hidden_field :following_id %>
  <%= f.submit "Follow", class: "btn btn-large btn-primary" %>

<% end %>

<!-- #= form_for(current_user.relationships.build(followed_id: @user.id)) do |f|
  div = f.hidden_field :followed_id
  = f.submit "Follow", class: "btn btn-large btn-primary" -->
