

<div class="stats">
  <table>
    <tr>
      <th> Tweets </th>
      <th> Followings </th>
      <th> Followers </th>
    </tr>

    <tr>
      <td> <%= link_to @user.tweets.count, user_path(@user) %> </td>
      <td> <%= link_to @user.following_users.count, following_user_path(@user) %> </td>
      <td> <%= link_to @user.followers.count, followers_user_path(@user) %> </td>

    </tr>
  </table>
</div>
