<div class="tweet-box">
  <%= form_for(@tweet) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new Tweet..." %>
    <%= f.submit "Post", class: "btn btn-large btn-primary" %>
  </div>
  <% end %>
</div>
