<%= form_for(current_user.relationships.find_by(following_id: @user.id),
             html: { method: :delete }) do |f| %>
  <%= f.submit "Unfollow", class: "btn btn-large btn-default" %>
  <% end %>
