@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$gray: #333;
$lightGray: #e8e8e8;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding-top: 60px;
  background-color: #F5F8FA;

}
ul, ol {
  padding: 0;
  list-style: none;
}
section {
  background-color: #fff;
  border-radius: 5px;
}
textarea {
  width: 100%;
  height: 80px;
  border: 1px solid $lightGray;
  margin-bottom: 8px;
}
.welcome {
  margin-top: 100px;
}
.profile {
  padding: 15px;
  border-bottom: 1px solid $lightGray;
}
.stats {
  border-bottom: 1px solid $lightGray;
  table {
    th, td {
      padding-left: 20px;
    }
    th {
      color: $gray;
      padding-top: 7px;
    }
    td {
      padding-bottom: 5px;
      font-size: 23px;
    }
  }
}
.tweet-box {
  padding: 15px;
  background-color: $lightGray;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
.field_with_errors {
  @extend .has-error;
}
.alert-notice {
  @extend .alert-danger;
}
.tweets {
  list-style: none;
  margin: 10px 0 0 0;

  .tweet {
    margin-bottom: 10px;
    padding: 10px 15px 5px;
    &:hover {
      background-color: #F5F8FA;
    }
    &:last-child {
    }
  }
}
.padded {
  padding: 15px;
}
.content {
  display: block;
  margin-left: 63px;
}
.tweet-footer {
  font-size: 10px;
  color: #b4b4b4;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
.users {
  list-style: none;
  margin: 0;

  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray;
    &:last-child {
      border-bottom: 1px solid $gray;
    }
  }

}
.logo {
  width: 45px;
  height: 45px;
}
.username {
  color: #b4b4b4;
}
.timeline {
  padding-left: 10px;
  padding-top: 10px;
  background-color: #fff;
  border-radius: 5px;
}
.title {
  font-size: 25px;
  color: $gray;
  margin: 0;
  padding: 10px 15px 0;
}
.paginate {
  padding: 15px 10px;
  text-align: center;
}
.tweet-actions {
  float: right;
}
.one-col {
  background-color: #fff;
  padding: 20px 10px;
}
.header-menu {
  .fa {
    margin-right: 8px;
  }
}
