<header class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <nav>
      <ul class="navbar-header">
        <li><%= link_to root_path do %>
          <img src="http://www.iconsdb.com/icons/preview/gray/twitter-xxl.png" class="logo">
          <% end %>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right header-menu">
        <% if signed_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "Profile", root_path %></li>
          <li><%= link_to "All zwits", tweets_path %></li>
          <li><%= link_to "Settings",  edit_user_path(current_user) %></li>
          <li><%= link_to "Sign out",  signout_path, method: "delete" %></li>
        <% else %>

           <li><%= link_to "Users", users_path %></li>
           <li><%= link_to "Log in", signin_path %></li>
          <% end %>
      </ul>
    </nav>
  </div>
</header>
